@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, -apple-system, sans-serif;
}

body {
  width: 500px;
  min-height: 400px;
  max-height: 600px;
  overflow: hidden;
  background: white;
}
